<!DOCTYPE html>
<html>
  <head>
    <title>Hotwire Todos Example</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= turbo_frame_tag "flash" do %>
      <%= render 'shared/flash_messages' %>
    <% end %>

    <%= yield %>

    <%= session[:event_attrs] %>
  </body>
</html>
